.container-wt {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;

  @media only screen and (max-width: 700px) {
    flex-wrap: wrap;
  }

  a {
    color: #FFFFFF;
  }
}

.wt-iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 700px) {
    width: 90%;
  }
}

.wt-ambassadors {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  background: url("/images/bg-dark.jpg");
  align-items: center;
  justify-content: center;

  &:hover p {
    opacity: 1;
    transition: .3s;
  }

  p {
    position: absolute;
    top: 0;
    bottom: -80px;
    display: flex;
    margin: auto;
    font-size: 14px;
    opacity: 0;
    transition: .3s;
    align-items: center;
  }
}

.wt-team {
  display: flex;
  width: 50%;
  background: url("/images/bg-team.jpg");
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}

.wt-blog {
  display: flex;
  width: 50%;
  background: url("/images/bg-blog.jpg");
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}

.iframe {
  width: 640px;
  height: 360px;
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 4px 0;

  @media only screen and (max-width: 660px) {
    border: 0 !important;
    box-shadow: none;
  }
}
