/* Breakpoints */
@custom-media --max-mobile (width > 600px);
@custom-media --max-tablet (max-width: 700px);
@custom-media --max-desktop (width > 1000px);

:root {
	/* Colors */
	--main-color: #FFFFFF;
	--grey-color: #AEAEAE;
	--title-color: #E51743;
	--brown-color: brown;
	--black-color: #050505;
	--dark-black: #000000;
	--background-color: #F6F6F8;
	--ligth-color: #F7FAFC;
	--background-beer1: #B6404C;
	--background-beer2: #9B6054;
	--background-beer3: #86C4BE;
	--background-beer4: #DAB4B5;
}
